<body>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

<br><br><br><br>
<div class="centralizartudo"> 
  <!-- Carousel -->
  <div id="carouselExampleRide" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://adventista.edu.br/default/public/uploads/banners/banner2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://adventista.edu.br/default/public/uploads/banners/banner1.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<br>

<div class="task-container">
  <div class="task-header">
    <div class="textmkt">#MARKETING & COMUNICAÇÃO</div>
    <a [routerLink]="['/tarefas/cadastrar']" class="btn btn-xs btn-success">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nova tarefa
    </a>
  </div>
  <br>
  <div class="form-group text-center">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Digite o título igual da tarefa, exemplo: (Test)"
        [(ngModel)]="tituloFiltro">
      <button class="btn btn-success" type="button" (click)="filtrarPorTitulo()">Pesquisar</button>
    </div>
  </div>
  <div class="task-grid">
    <div *ngFor="let tarefa of tarefas" class="task-card" [class.completed]="tarefa.concluida">
      <div class="task-card-title">{{ tarefa.Titulo }}</div>
      <div class="task-card-description">{{ tarefa.Descricao }}</div>
      <div class="task-card-status">
        <label class="status-label">
          <input type="checkbox" (click)="alterarStatus(tarefa)" [value]="tarefa.Id" [checked]="tarefa.concluida">
          Concluída
        </label>
      </div>
      <div class="task-card-actions">
        <a [routerLink]="['/tarefas/editar/', tarefa.Id]" title="Editar" alt="Editar" class="btn btn-xs btn-primary">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span> Editar
        </a>
        <a href="#" title="Remover" alt="Remover" (click)="remover($event, tarefa)" class="btn btn-xs btn-danger">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remover
        </a>
      </div>
    </div>
  </div>
</div>



</div>
</body>





