<body>
<br><br><br>
<h1 class="text-center"><strong>Cadastrar nova tarefa</strong></h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form #formTarefa="ngForm" class="well custom-shadow">
        <div class="form-group">
          <label for="titulo">Tarefa:</label>
          <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="tarefa.Titulo" #nome="ngModel"
            minlength="5" required>
          <div *ngIf="nome.errors && (nome.dirty || nome.touched)" class="alert alert-danger">
            <div [hidden]="!nome.errors.required">
              Digite a tarefa.
            </div>
            <div [hidden]="!nome.errors.minlength">
              A tarefa deve conter ao menos 5 caracteres.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="descricao">Descrição:</label>
          <textarea class="form-control" id="descricao" name="descricao" [(ngModel)]="tarefa.Descricao"
            #descricao="ngModel" minlength="10" required></textarea>
          <div *ngIf="descricao.errors && (descricao.dirty || descricao.touched)" class="alert alert-danger">
            <div [hidden]="!descricao.errors.required">
              Digite a descrição da tarefa.
            </div>
            <div [hidden]="!descricao.errors.minlength">
              A descrição deve conter ao menos 10 caracteres.
            </div>
          </div>
        </div>

        <div class="form-group text-center mt-4">
          <input type="submit" class="btn btn-primary" style="margin-right: 10px;" (click)="cadastrar()"
            value="Cadastrar" [disabled]="!formTarefa.form.valid">
          <a [routerLink]="['/tarefas/listar']" class="btn btn-dark" style="margin-left: 10px;">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Voltar
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

</body>