<body>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

  <!-- Menu -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon custom-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="https://www.adventista.edu.br/">
            <img src="https://www.adventista.edu.br/assets/fadba/images/logo/logo-white-fadba.png" alt="Logo"
              class="logo">
          </a>
          <a class="nav-link" href="https://www.adventista.edu.br/" target="_blank">Site Fadba</a>
          <a class="nav-link" href="https://accounts.rdstation.com.br/" target="_blank">RD</a>
          <a class="nav-link" href="https://www.freepik.com/" target="_blank">Freepik</a>
        </div>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>
</body>